# -*- coding: utf-8 -*-
timeout = 8

{% if SERVICE_MGMNT_URL is defined %}
SERVICE_MGMNT_URL = {{ SERVICE_MGMNT_URL }}
{% else %}
SERVICE_MGMNT_URL = "http://localhost:7000"
{% endif %}

{% if DEBUG_MODE is defined %}
DEBUG_MODE = {{ DEBUG_MODE }}
{% else %}
DEBUG_MODE = False
{% endif %}