# -*- coding: utf-8 -*-
TIMEOUT = 8
KEYSIZE = 512

# TODO give these as parameter to init AccountManagerHandler
{% if ACCOUNT_MANAGEMENT_URL is defined %}
ACCOUNT_MANAGEMENT_URL = {{ ACCOUNT_MANAGEMENT_URL }}
{% else %}
ACCOUNT_MANAGEMENT_URL = "http://myaccount.dy.fi/"
{% endif %}

ACCOUNT_MANAGEMENT_USER="test_sdk"
{% if ACCOUNT_MANAGEMENT_USER is defined %}
ACCOUNT_MANAGEMENT_USER = {{ ACCOUNT_MANAGEMENT_USER }}
{% else %}
ACCOUNT_MANAGEMENT_USER = "test_sdk"
{% endif %}

{% if ACCOUNT_MANAGEMENT_PASSWORD is defined %}
ACCOUNT_MANAGEMENT_PASSWORD = {{ ACCOUNT_MANAGEMENT_PASSWORD }}
{% else %}
ACCOUNT_MANAGEMENT_PASSWORD = "test_sdk_pw"
{% endif %}


# Setting to /tmp or other ramdisk makes it faster.
{% if DATABASE_PATH is defined %}
DATABASE_PATH = {{ DATABASE_PATH }}
{% else %}
DATABASE_PATH = "./db_Operator.sqlite"
{% endif %}


{% if CELERY_BROKER_URL is defined %}
CELERY_BROKER_URL = {{ CELERY_BROKER_URL }}
{% else %}
CELERY_BROKER_URL = 'redis://localhost:6379/0'
{% endif %}

{% if CELERY_RESULT_BACKEND is defined %}
CELERY_RESULT_BACKEND = {{ CELERY_RESULT_BACKEND }}
{% else %}
CELERY_RESULT_BACKEND = 'redis://localhost:6379/0'
{% endif %}


{% if CERT_PATH is defined %}
CERT_PATH = {{ CERT_PATH }}
{% else %}
CERT_PATH = "./service_key.jwk"
{% endif %}

{% if CERT_KEY_PATH is defined %}
CERT_KEY_PATH = {{ CERT_KEY_PATH }}
{% else %}
CERT_KEY_PATH = "./service_key.jwk"
{% endif %}

{% if CERT_PASSWORD_PATH is defined %}
CERT_PASSWORD_PATH = {{ CERT_PASSWORD_PATH }}
{% else %}
CERT_PASSWORD_PATH = "./cert_pw"
{% endif %}


{% if OPERATOR_UID is defined %}
OPERATOR_UID = {{ OPERATOR_UID }}
{% else %}
OPERATOR_UID = "41e19fcd-1951-455f-9169-a303f990f52d"
{% endif %}


{% if OPERATOR_ROOT_PATH is defined %}
OPERATOR_ROOT_PATH = {{ OPERATOR_ROOT_PATH }}
{% else %}
OPERATOR_ROOT_PATH = "/api/1.2"
{% endif %}

{% if OPERATOR_CR_PATH is defined %}
OPERATOR_CR_PATH = {{ OPERATOR_CR_PATH }}
{% else %}
OPERATOR_CR_PATH = "/cr"
{% endif %}

{% if OPERATOR_SLR_PATH is defined %}
OPERATOR_SLR_PATH = {{ OPERATOR_SLR_PATH }}
{% else %}
OPERATOR_SLR_PATH = "/slr"
{% endif %}

{% if SERVICE_URL is defined %}
SERVICE_URL = {{ SERVICE_URL }}
{% else %}
SERVICE_URL = "http://localhost:7000"
{% endif %}